.titles{
    padding-top: 3%;
    width: 80%;
    margin:auto;
    display: flex;
    font: 25px monospace;
}

.about_me{
    padding-top: 8px;
    width: 73%;
    margin:auto;
    display: flex;
    justify-content: center;
    font: 18px monospace;
}

.contact{
    padding-bottom: 30px;
    width: 80%;
    margin:auto;
    display: flex;
    font: 18px monospace;
}

.site a{
    padding: 8px;
    margin:auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font: 35px monospace;
    text-underline-offset: none;
    color: orange;
}

.site{
    width: 25%;   
    justify-content: center;
    margin:auto;
    display:flex;
    list-style-type: none;

}
.site:hover{
    background-color: rgb(178, 255, 102);
}
