/*picture set up*/
.pictures{
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;

}

.pic{
    max-height: 300px;
    object-fit:contain;
    padding: 3px;
}

.welc{
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.welcpic{
    height: 800px;
    background-size:cover;
}

.homepictures{
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}

.homepic{
    max-height: 420px;
    object-fit:contain;
    padding: 3px;
}