
/* Title font*/
.wr{
    font:40px monospace;
}


.name{
    display: flex;
    justify-content: right;
    margin-right:2%;
    font: 15px monospace;
}


/* link set up*/
.navline{
    display: inline;

}
.navi{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.phototype ul{
    list-style-type: none;
}

.l {
    display: inline-block;
    margin: 10px;
    font: 20px monospace;
    text-decoration: none;
    color: black;
}

.tl{

    padding: 7px;
    display: inline-block;
    margin: 10px;
    font: 20px monospace;
    text-decoration: none;
    color: black;
    border: 1px solid;
    background-color: rgb(178, 255, 102);

}

.l:hover{
    background-color: rgb(230, 230, 230);
}

.tl:hover{
    background-color: rgb(230, 230, 230);
}

.phototype li{
    display: inline;
}